<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>首頁</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .index {
            background-color: beige;
            text-align: center;
            width: 300px;
            height: 200px;
            padding-top: 50px;

        }
    </style>
</head>

<body>
    <div class="index">
        <h1>RO紀錄怪物系統</h1><br>
        <a href="login" class="button is-primary">登入</a>
        <a href="signup" class="button is-danger">註冊</a>
    </div>
</body>

</html>