{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Document</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Record</h1>
            <div class="box has-text-centered">
                <div class="columns">
                    <div id="form1" class="column is-half">
                        {% load crispy_forms_tags %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="field">
                                <div class="control">
                                    <input type="submit" value="儲存" class="button is-success" id="store">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="form2" class="column is-half">
                        <span class="tag" id="total_times">Total times:{{sum_times}}</span><br>
                        <span class="tag" id="total_record">Total records:{{total}}</span><br>
                    </div>
                </div>
            </div>
            <div class="has-text-centered">
                <button id="toggle-btn" class="button is-info">Toggle Table</button>
            </div>
            <table class="table is-bordered is-striped is-fullwidth has-text-centered" id="my-table">
                <thead>
                    <tr>
                        <th class="has-text-centered">kings</th>
                        <th class="has-text-centered">times</th>
                        <th class="has-text-centered">modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in record %}
                    <tr>
                        <td>{{x.kings}}</td>
                        <td style="text-align: center;">{{x.times}}</td>
                        <td>
                            <a href="update/{{ x.id }}"><i class='fas fa-tools' id="update_tool"></i></a>
                            <a href="delete/{{ x.id }}"><i class='fas fa-trash-alt' id="delete_tool"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="chart" style="height:400px;"></div>
            <script src="static/js/chart.js"></script>
            <script src="static/js/index.js"></script>
        </div>
    </section>
</body>

</html>