{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>紀錄表</title>
</head>

<body>
    <section class="section">
        <div class="container">
            {% if user.is_authenticated %}
            <h1 class="title is-1 has-text-centered">{{user.username}}'s Record</h1><br>
            <a href="/logout">登出</a>
            {% else %}
            <h1 class="title is-1 has-text-centered">Record</h1><br>
            {% endif %}
            <div class="box has-text-centered">
                <div class="columns">
                    <div id="form1" class="column is-4">
                        {% load crispy_forms_tags %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-success" id="store">儲存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="form2" class="column is-4">
                        <span class="tag" id="total_times">Total times:{{sum_times}}</span><br>
                        <span class="tag" id="total_record">Total records:{{total}}</span><br>
                    </div>
                    <div id="form3" class="column is-4">
                        <select name="monster" id="monster">
                            <option value="">選擇查詢的怪物</option>
                            {% for monster in record %}
                            <option value="{{monster.kings}}">{{monster.kings}}</option>
                            {% endfor %}
                        </select><br>
                        <input type="button" value="查詢" id="check" class="button is-primary has-text-centered">
                        <input type="button" value="清除" id="reset" class="button is-danger has-text-center"><br>
                        <span class="tag" id="looking_name">Name :&nbsp;</span><br>
                        <span class="tag" id="looking_times">times :&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="has-text-centered">
                <button id="toggle-btn" class="button is-info">Toggle Table</button>
                <button id="order-btn" class="button is-info"> Order Table</button>
            </div>

            <!--輸入資訊表格-->
            <table class="table is-bordered is-striped is-fullwidth has-text-centered" id="my-table">
                <thead>
                    <tr>
                        <th class="has-text-centered">kings</th>
                        <th class="has-text-centered">times</th>
                        <th class="has-text-centered">modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in record %}
                    <tr>
                        <td id="record_kings">{{x.kings}}</td>
                        <td>{{x.times}}</td>
                        <td>
                            <a href="update/{{ x.id }}"><i class='fas fa-tools' id="update_tool"></i></a>
                            <a
                                onclick="if (confirm('Are you sure you want to delete?')) { window.location.href='delete/{{ x.id }}'; }"><i
                                    class='fas fa-trash-alt' id="delete_tool"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--排序表格-->
            <table class="table is-bordered is-striped is-fullwidth has-text-centered" id="my-order-table">
                <thead>
                    <tr>
                        <th class="has-text-centered">kings</th>
                        <th class="has-text-centered">times</th>
                        <th class="has-text-centered">modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in order_record %}
                    <tr>
                        <td>{{x.kings}}</td>
                        <td>{{x.times}}</td>
                        <td>
                            <a href="update/{{ x.id }}"><i class='fas fa-tools' id="update_tool"></i></a>
                            <a
                                onclick="if (confirm('Are you sure you want to delete?')) { window.location.href='delete/{{ x.id }}'; }"><i
                                    class='fas fa-trash-alt' id="delete_tool"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--echarts圖表-->
            <div id="chart" style="height:400px;"></div>
            <script src="{% static 'js/chart.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
        </div>
    </section>
</body>

</html>