<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <div class="has-text-centered">
        <h1 class="title is-1">Update member</h1>

        <form action="updaterecord/{{ record.id }}" method="post">
            {% csrf_token %}
            kings Name:<br>
            <input name="kings" value="{{ record.kings }}">
            <br><br>
            times:<br>
            <input type="number" name="times" value="{{ record.times }}">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>