#form1 {
    background-color: rgb(9, 9, 109);
    color: azure;
    margin-right: 5px;
}

#div_id_kings {
    margin-bottom: 10px;
}

#id_kings {
    text-align: center;
}

#div_id_times {
    margin-bottom: 10px;
}

#id_times {
    text-align: center;
}


#form2 {
    background-color: rgb(94, 91, 91);
    margin-right: 5px;
}

#total_times,
#total_record {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

#update_tool {
    font-size: 20px;
    padding-right: 1rem;
}

#delete_tool {
    font-size: 20px;
}

#toggle-btn {
    margin-bottom: 15px;
}

#toggle-btn {
    margin-bottom: 15px;
}

#monster {
    width: 80%;
    font-size: 20px;
    margin-top: 5px;
}